/* printr cyan: #3292a6 */
html {
  margin: 0 auto;
  max-width: 1920px;
}

body {
  margin-top: 1rem;
}

* {
  box-sizing: border-box;
}

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  padding-right: 20px;
}

#logo {
  width: 4vw;
}

#showcase {
  position: relative;
  background: url(./img/mountain.jpeg);
  min-height: 30vw;
}

.showcase-large-font {
  font-size: 3.5vw;
}

#showcase-poser {
  width: 15vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.primary-overlay {
  background: rgba(50, 146, 166, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5vw;
}

.btn,
.form-control,
.border-primary,
.bg-primary {
  border-radius: 0;
}

.btn {
  color: white;
  background-color: #3292a6;
}

.col-md-3 {
  max-width: 22%;
  margin: auto;
}

.text-primary,
h5 {
  color: #3292a6 !important;
  font-weight: bold;
}

.text-primary2,
h5 {
  color: white !important;
  font-weight: bold;
}

.flex-container {
  display: flex;
}

.border-primary {
  border-color: #3292a6 !important;
  border: solid 0.2vw;
  text-align: center;
}

.bg-primary {
  background-color: #3292a6 !important;
  color: white;
  text-align: center;
}

.info-header {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px #ddd solid;
}

#authors {
  margin: 0 auto;
  padding: 2vw;
}

#authors img {
  margin-top: -5vw;
  border-radius: 90px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#authors .fa {
  font-size: 2vw;
  color: #3292a6;
  padding: 1vw;
}

#contact .input-group-text {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .logo {
    display: none;
  }

  #showcase-poser {
    display: none;
  }

  .flex-container {
    flex-direction: column;
  }

  .col-md-3 {
    max-width: 90%;
    padding: 2vw;
    margin: 2vw;
  }

  #authors img {
    margin-top: -5vw;
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
}

@media (max-width: 600px) {
  .display-2 {
    font-size: 4rem;
  }
}
